<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>All Users</title>
</head>
<body>
<h1>All Users</h1>
<table>
    <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Surname</th>
        <th>Age</th>
        <th>Email</th>
    </tr>
    <tr th:each="user : ${users}">
        <td th:text="${user.getId()}"></td>
        <td th:text="${user.getName()}"></td>
        <td th:text="${user.getSurname()}"></td>
        <td th:text="${user.getAge()}"></td>
        <td th:text="${user.getEmail()}"></td>
        <td><a  th:href="@{/updateUser?id={id}(id=${user.getId()})}"> Make changes </a></td>
        <td>
            <form th:method="POST" th:action="@{/delete?id={id}(id=${user.getId()})}">
                <input type="submit" value="Delete">
            </form></td>
    </tr>
</table>
<br>
<a href="/create">Create a new User</a>
<br>
</body>
</html>